/* ================= General ================= */
.vertical_spacer {
	margin-top: 30px;
}

.btn:focus {
  outline: none;
}

/* ================= upload_main ================= */

.upload_main {
    width: 85%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    top: -30px;
}

#upload_button {
  clear: both;
  float: right;
}

/* ========= upload_complete & download_complete ========= */
.transfer_complete {
	width: 85%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    top: -30px;
}

.complete_cloud {
	font-size: 250px;
	text-align: center;
	line-height: 0.6;
}

.complete_cloud_wrapper {
	position: relative;
	width: 268px;
	margin-left: auto;
    margin-right: auto;
}

.complete_cloud_label {
	text-align: center;
    top: -50px;
}

.main_menu_btn_align {
	text-align: center;
}

/* ================= main_menu ================= */
#loading_page {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 100;
}

.navbar-text {
  color: #fff !important;
}

.navbar_wrapper {
	position: absolute;
	top: 0px;
	width: 100%;
}

.navbar {
	border-radius: 0px !important;
}

#settings_btn {
	float: right;
	margin-right: 20px;
	height: 30px;
}

body .modal-dialog {
	width: 800px;
}

#settings_icon {
	position: relative;
	top: 1px;
	font-size: 17px;
}

.main_menu {
	width: 85%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    top: -30px;
    text-align: center;
}

.btn-xlg {
    padding: 18px 28px;
    font-size: 30px;
    width: 250px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.btn-xlg-drop {
    padding: 18px 28px;
    font-size: 15px;
    text-align: center;
    height: 74px;
    width: 35px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.main_menu_btn_group {
	margin: 5px 5px 5px 5px;
}

/* ================= download_main ================= */
.download_main {
    width: 85%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    top: -30px;
}

#download_button {
  clear: both;
  float: right;
}