/* General */
.vertical_spacer {
	margin-top: 5%;
}

.btn:focus {
  outline: none;
}

.btn-xlg {
    padding: 18px 28px;
    margin-left: 10px;
    font-size: 30px;
    width: 250px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

/* upload_main */

.upload_main {
    width: 85%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    top: -30px;
}

#upload_button {
  clear: both;
  float: right;
}

/* upload_complete */
.upload_complete {
	width: 85%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    top: -30px;
}

#upload_complete_cloud {
	font-size: 250px;
	text-align: center;
	line-height: 0.6;
/* 	color: #468847; */
	
}

#upload_complete_cloud_wrapper {
	position: relative;
	width: 268px;
	margin-left: auto;
    margin-right: auto;
	
}

#upload_complete_cloud_label {
	text-align: center;
/* 	color: #468847; */
}

/* main_menu */
.main_menu {
	width: 85%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    top: -30px;
    text-align: center;
}

/* download_main */
.download_main {
    width: 85%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    top: -30px;
}

#download_button {
  clear: both;
  float: right;
}