<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<title>BrainDir Desktop Uploader</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.fullPage.css') }}">
	{% endblock %}
</head>
  
<body>
<div id="loading_page"></div>
<div id="fullpage">
	<div class="section"><!-- ###################### upload_complete section ###################### -->
		<div class="upload_complete">
			<div id="upload_complete_info">
				<div class="row">
				<div id="upload_complete_cloud_wrapper">
					<i class="fa fa-cloud-upload" id="upload_complete_cloud"></i>
					<div id="upload_complete_cloud_label"><h3>Upload Complete!</h3></div>
				</div>
				</div><!-- row -->
				
<!-- 				<div class="vertical_spacer"></div> -->
				
				<div class="row">
				<div class="form-group">
					<label for="upload_id">Here is your dataset's unique ID:</label>
					<input type="text" class="form-control" id="upload_id" value="">
				</div><!-- form-group -->
				</div><!-- row -->
				
				<div class="row">
				<div class="main_menu_btn_align">
					<button type="submit" class="btn btn-lg btn-default return_to_main_menu_btn pull-right">
						<span class="fa fa-home" ></span><span> Return to main menu</span>
					</button>
				</div>
				</div><!-- row -->
			</div>
		</div>
	</div><!-- upload_complete section -->
	
	<div class="section"><!-- ###################### upload_main section ###################### -->
		<div class="upload_main">
	<!-- Start dir chooser and passphrase fields + upload button -->
	<form id="upload_form" name="upload_form">
		<div class="row">
		<!-- field for dir to upload -->
		<div class="form-group">
			<label for="dir_to_upload_path">Choose a directory  to Upload</label>
			<div class="input-group">
			  <span class="input-group-btn">
				<button class="btn btn-default" type="button" id="choose_dir_to_upload_btn">Select</button>
			  </span>
			  <input type="text" class="form-control" id="dir_to_upload_path">
			</div>
		</div><!-- form-group -->
		</div><!-- row -->
		
		<div class="row">
		<!-- passphrase field -->
		<div class="form-group">
			<label for="passphrase_field">Enter a passphrase to encrypt</label>
			<input type="password" class="form-control" id="passphrase_field">
		</div>
		</div><!-- row -->
		
		<div class="row">
		<!-- upload button -->
		<button type="submit" class="btn btn-lg btn-default" id="upload_button">
			<span class="fa fa-cloud-upload" id="upload_spinner"></span><span id="upload_txt"> Upload</span>
		</button>
		</div><!-- row -->
	</form>
	<!-- End dir chooser and passphrase fields + upload button -->
	
	<!-- Start Progress Bar -->
	<div class="row">
	<div class="pgb_wrapper">
	<h4>Progress</h4>
	<div id = "progress_state"></div>
	<div id="pgb-container" style="position: relative">
		<div style="position: absolute; width: 100%; height: 100%: top: 0; left: 0; z-index: 1">
		<div class="progress progress-striped active">
			<div class="progress-bar progress-bar-primary" id="pgb1" style="width: 0%">
				<span class="progress-bar-label" id="pgb1-label"></span>
			</div>
		</div>
		</div>
		
		<div style="position: absolute; width: 100%; height: 100%: top: 0; left: 0; z-index: 2">
		<div class="progress progress-striped active" style="background-color: transparent">
			<div class="progress-bar progress-bar-info" id="pgb2" style="width: 0%">
				<span class="progress-bar-label" id="pgb2-label"></span>
			</div>
		</div>
		</div>

		<div style="position: absolute; width: 100%; height: 100%: top: 0; left: 0; z-index: 3">
		<div class="progress progress-striped active" style="background-color: transparent">
			<div class="progress-bar progress-bar-success" id="pgb3" style="width: 0%">
				<span class="progress-bar-label" id="pgb3-label"></span>
			</div>
		</div>
		</div>
		
		<div style="position: absolute; width: 100%; height: 100%: top: 0; left: 0; z-index: 4">
		<div class="progress progress-striped active" style="background-color: transparent">
			<div class="progress-bar progress-bar-warning" id="pgb4" style="width: 0%">
				<span class="progress-bar-label" id="pgb4-label"></span>
			</div>
		</div>
		</div>

		<div style="position: absolute; width: 100%; height: 100%: top: 0; left: 0; z-index: 5">
		<div class="progress progress-striped active" style="background-color: transparent">
			<div class="progress-bar progress-bar-danger" id="pgb5" style="width: 0%">
				<span class="progress-bar-label" id="pgb5-label"></span>
			</div>
		</div>
		</div>	
	</div><!-- pgb-container -->
	</div><!-- pgb_wrapper -->
	</div><!-- row -->
	<!-- End Progress Bar -->
	</div><!-- upload_main -->
	</div><!-- upload_main section -->
	
	<div class="section active"><!-- ###################### main_menu section ###################### -->
		<div class="navbar_wrapper">
		<nav class="navbar navbar-inverse" id="header_nav">
			<h4 class="navbar-text">BrainDir Uploader</h4>
			<button class="btn btn-default btn-sm navbar-btn" id="settings_btn" data-toggle="modal" data-target="#settings_modal">
				<span class="fa fa-cog" id="settings_icon"></span> 
				<span id="settings_btn_txt"> Settings</span>
			</button>
		</nav>
		</div>

		<!-- Settings Modal Dialog -->
		<div class="modal fade" id="settings_modal" tabindex="-1">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Settings</h4>
		      </div>
		      <div class="modal-body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<div class="main_menu">
			<div class="btn-group main_menu_btn_group">
				<button type="button" class="btn btn-default btn-xlg" id="main_menu_download_btn"><span class="fa fa-cloud-download"></span> Download</button>
				<button type="button" class="btn btn-default dropdown-toggle btn-xlg-drop" id="" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down"></span></button>
				<ul class="dropdown-menu pull-right" role="menu">
					<li><a href="#">Resume interrupted download</a></li>
				</ul>
			</div>
			<div class="btn-group main_menu_btn_group" id="upload_btn_group">
				<button type="button" class="btn btn-default btn-xlg" id="main_menu_upload_btn"><span class="fa fa-cloud-upload"></span> Upload</button>
				<button type="button" class="btn btn-default dropdown-toggle btn-xlg-drop" id="" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down"></span></button>
				<ul class="dropdown-menu pull-right main_menu_dropdown" role="menu">
					<li><a href="#">Resume interrupted upload</a></li>
				</ul>
			</div>
		</div>
	</div><!-- main_menu section -->
	
	<div class="section"><!-- ###################### download_main section ###################### -->
		<div class="download_main">
	<!-- Start dir chooser and passphrase fields + download button -->
	<form id="download_form" name="download_form">
		<div class="row">
		<!-- field for archive id -->
		<div class="form-group">
			<label for="archive_id">Enter the unique ID of the dataset you would like to download</label>
			<input type="text" class="form-control" id="archive_id">
		</div><!-- form-group -->
		</div><!-- row -->
		
		<div class="row">
		<!-- field for save path -->
		<div class="form-group">
			<label for="save_path">Choose where you would like to save your download</label>
			<div class="input-group">
			  <span class="input-group-btn">
				<button class="btn btn-default" type="button">Select</button>
			  </span>
			  <input type="text" class="form-control" id="save_path">
			</div>
		</div><!-- form-group -->
		</div><!-- row -->
		
		<div class="row">
		<!-- passphrase field -->
		<div class="form-group">
			<label for="decrypt_passphrase_field">Enter the passphrase to decrypt this private dataset</label>
			<input type="password" class="form-control" id="decrypt_passphrase_field">
		</div>
		</div><!-- row -->
		
		<div class="row">
		<!-- download button -->
		<button type="submit" class="btn btn-lg btn-default" id="download_button">
			<span class="fa fa-cloud-download" id="download_spinner"></span><span id="download_txt"> Download</span>
		</button>
		</div><!-- row -->
	</form>
	<!-- End dir chooser and passphrase fields + upload button -->
	
	<!-- Start Progress Bar -->
	<div class="row">
	<div class="pgb_wrapper">
	<h4>Progress</h4>
	<div id = "d_progress_state"></div>
	<div id="pgb-container" style="position: relative">
		<div style="position: absolute; width: 100%; height: 100%: top: 0; left: 0; z-index: 1">
		<div class="progress progress-striped active">
			<div class="progress-bar progress-bar-primary" id="d_pgb1" style="width: 0%">
				<span class="progress-bar-label" id="d_pgb1-label"></span>
			</div>
		</div>
		</div>
		
		<div style="position: absolute; width: 100%; height: 100%: top: 0; left: 0; z-index: 2">
		<div class="progress progress-striped active" style="background-color: transparent">
			<div class="progress-bar progress-bar-info" id="d_pgb2" style="width: 0%">
				<span class="progress-bar-label" id="d_pgb2-label"></span>
			</div>
		</div>
		</div>

		<div style="position: absolute; width: 100%; height: 100%: top: 0; left: 0; z-index: 3">
		<div class="progress progress-striped active" style="background-color: transparent">
			<div class="progress-bar progress-bar-success" id="d_pgb3" style="width: 0%">
				<span class="progress-bar-label" id="d_pgb3-label"></span>
			</div>
		</div>
		</div>
		
		<div style="position: absolute; width: 100%; height: 100%: top: 0; left: 0; z-index: 4">
		<div class="progress progress-striped active" style="background-color: transparent">
			<div class="progress-bar progress-bar-warning" id="d_pgb4" style="width: 0%">
				<span class="progress-bar-label" id="d_pgb4-label"></span>
			</div>
		</div>
		</div>

		<div style="position: absolute; width: 100%; height: 100%: top: 0; left: 0; z-index: 5">
		<div class="progress progress-striped active" style="background-color: transparent">
			<div class="progress-bar progress-bar-danger" id="d_pgb5" style="width: 0%">
				<span class="progress-bar-label" id="d_pgb5-label"></span>
			</div>
		</div>
		</div>	
	</div><!-- pgb-container -->
	</div><!-- pgb_wrapper -->
	</div><!-- row -->
	<!-- End Progress Bar -->
	</div><!-- download_main -->
	</div><!-- download_main section -->
	
	<div class="section"><!-- ###################### download_complete section ###################### -->
		<div class="download_complete">
			<div id="download_complete_info">
				<div class="row">
				<div id="download_complete_cloud_wrapper">
					<i class="fa fa-cloud-download" id="upload_complete_cloud"></i>
					<div id="download_complete_cloud_label"><h3>Download Complete!</h3></div>
				</div>
				</div><!-- row -->
				
				<div class="row">
				<div class="form-group">
					<label for="download_location">Your download is located in:</label>
					<input type="text" class="form-control" id="download_location" value="">
				</div><!-- form-group -->
				</div><!-- row -->
				
				<div class="row">
				<div class="main_menu_btn_align">
					<button type="submit" class="btn btn-lg btn-default return_to_main_menu_btn pull-right">
						<span class="fa fa-home" ></span><span> Return to main menu</span>
					</button>
				</div>
				</div><!-- row -->
			</div>
		</div>
	</div><!-- download_complete section -->
</div>

	<!-- Start JavaScript Libraries -->
		{% block javascript_lib %}
		<!-- jQuery  -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		
		<!-- Bootstrap -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		
		<!-- sijax -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/sijax/sijax.js') }}"></script>
		<script type="text/javascript">
			{{ g.sijax.get_js()|safe }}
		</script>
		
		<!-- fullPage.js -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fullPage.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easings.min.js') }}"></script>
		{% endblock %}
	<!-- End JavaScript Libraries -->
	
	<script type="text/javascript">
		$(document).ready(function(){
			
			// display loading screen for 200 ms
			$('#loading_page').fadeOut(200);
		
			// fullPage.js configuration
			$('#fullpage').fullpage({
		        verticalCentered: true,
		        resize : false,
		        keyboardScrolling: true,
			});
			$.fn.fullpage.setAllowScrolling(false);
			
			// update progress bars in function of python backend progress
			setInterval(function(){
				Sijax.request('set_progress');
			}, 3000);
			
			// start upload pipeline  
			$('#upload_form').bind('submit', function() {
				Sijax.request('start_upload', [$('#dir_to_upload_path').val(), $('#passphrase_field').val()]);
				
				// modify upload button
				$("#upload_button").prop("disabled", true);
				$("#upload_spinner").removeClass("fa-cloud-upload").addClass("fa-spinner fa-spin");
				$("#upload_txt").html(" Uploading…");
			
				//Prevent the form from being submitted
				return false;
			});
			
			// start download pipeline  
			$('#download_form').bind('submit', function() {
				Sijax.request('start_download', [$('#archive_id').val(), $('#save_path').val(), $('#decrypt_passphrase_field').val()]);
				
				// modify upload button
				$("#download_button").prop("disabled", true);
				$("#download_spinner").removeClass("fa-cloud-download").addClass("fa-spinner fa-spin");
				$("#download_txt").html(" Downloading…");
			
				//Prevent the form from being submitted
				return false;
			});
			
			// open file dialog to choose dir to upload  
			$('#choose_dir_to_upload_btn').click(function() {
				Sijax.request('choose_dir_to_upload');
			});
			
			// select text on focus
			$("#upload_id").focus(
			    function() { 
			         $(this).select(); 
			    }
			 )
			 .mouseup(
			    function(e) {
			        e.preventDefault();
			    }
			 );
			 
			 // main_menu navigation buttons control
			 $("#main_menu_download_btn").click(function() {
				$.fn.fullpage.moveSectionDown(); 
			 });
			 
			 $("#main_menu_upload_btn").click(function() {
				$.fn.fullpage.moveSectionUp(); 
			 });
			 
			 // return to main_menu buttons control
			 $(".return_to_main_menu_btn").click(function() {
				$.fn.fullpage.moveTo(3);
			 });

			
			// // modify upload icon when clicked
			// $("#upload_button").click(function() {
			// 	//$("#upload_button").removeClass("btn-default").addClass("btn-success").prop("disabled", true);
			// 	$("#upload_spinner").removeClass("fa-cloud-upload").addClass("fa-spinner fa-spin");
			// 	$("#upload_txt").html(" Uploading…");
			// });
		});
	</script>
</body>
</html>