<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BrainDir Desktop Uploader</title>

	<!-- CSS -->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	{% endblock %}
</head>
  
<body>
	<div class="upload_wrapper">
	<!-- Start dir chooser and passphrase fields + upload button -->
	<form id="upload_form" name="upload_form">
		<!-- field for dir to upload -->
		<div class="form-group">
			<label for="dir_to_upload_path">Choose a directory  to Upload</label>
			<div class="input-group">
			  <span class="input-group-btn">
				<button class="btn btn-default" type="button">Select</button>
			  </span>
			  <input type="text" class="form-control" id="dir_to_upload_path">
			</div><!-- /input-group -->
		</div>
		
		<!-- passphrase field -->
		<div class="form-group">
			<label for="passphrase_field">Enter a passphrase to encrypt</label>
			<input type="password" class="form-control" id="passphrase_field">
		</div>
		
		<!-- upload button -->
		<button type="submit" class="btn btn-lg btn-default" id="upload_button">
			<span class="fa fa-cloud-upload" id="upload_spinner"></span><span id="upload_txt"> Upload</span>
		</button>
	</form>
	<!-- End dir chooser and passphrase fields + upload button -->
	
	<br><br>
	<!-- Start Progress Bar -->
	<h4>Progress</h4>
	<div id = "progress_state"></div>
	<div id="pgb-container" style="position: relative">
		<div style="position: absolute; width: 100%; height: 100%: top: 0; left: 0; z-index: 1">
		<div class="progress progress-striped active">
			<div class="progress-bar progress-bar-primary" id="pgb1" style="width: 0%">
				<span class="progress-bar-label" id="pgb1-label"></span>
			</div>
		</div>
		</div>
		
		<div style="position: absolute; width: 100%; height: 100%: top: 0; left: 0; z-index: 2">
		<div class="progress progress-striped active" style="background-color: transparent">
			<div class="progress-bar progress-bar-info" id="pgb2" style="width: 0%">
				<span class="progress-bar-label" id="pgb2-label"></span>
			</div>
		</div>
		</div>

		<div style="position: absolute; width: 100%; height: 100%: top: 0; left: 0; z-index: 3">
		<div class="progress progress-striped active" style="background-color: transparent">
			<div class="progress-bar progress-bar-success" id="pgb3" style="width: 0%">
				<span class="progress-bar-label" id="pgb3-label"></span>
			</div>
		</div>
		</div>
		
		<div style="position: absolute; width: 100%; height: 100%: top: 0; left: 0; z-index: 4">
		<div class="progress progress-striped active" style="background-color: transparent">
			<div class="progress-bar progress-bar-warning" id="pgb4" style="width: 0%">
				<span class="progress-bar-label" id="pgb4-label"></span>
			</div>
		</div>
		</div>

		<div style="position: absolute; width: 100%; height: 100%: top: 0; left: 0; z-index: 5">
		<div class="progress progress-striped active" style="background-color: transparent">
			<div class="progress-bar progress-bar-danger" id="pgb5" style="width: 0%">
				<span class="progress-bar-label" id="pgb5-label"></span>
			</div>
		</div>
		</div>	
	</div><!-- pgb-container -->
	<!-- End Progress Bar -->
	</div>

	<!-- Start JavaScript Libraries -->
	<!-- jQuery  -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	
	<!-- Bootstrap -->
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	
	<!-- sijax -->
	<script type="text/javascript" src="static/js/sijax/sijax.js"></script>
	<script type="text/javascript">
		{{ g.sijax.get_js()|safe }}
	</script>
	<!-- End JavaScript Libraries -->
	
	<script type="text/javascript">
		$(document).ready(function(){
			setInterval(function(){
				Sijax.request('set_progress');
			}, 3000);
			         
			$('#upload_form').bind('submit', function() {
				Sijax.request('start_upload', [$('#dir_to_upload_path').val(), $('#passphrase_field').val()]);
			
				//Prevent the form from being submitted
				return false;
			});
			
			// modify upload icon when clicked
			$("#upload_button").click(function() {
				$("#upload_button").removeClass("btn-default").addClass("btn-success");
				$("#upload_spinner").removeClass("fa-cloud-upload").addClass("fa-spinner fa-spin");
				$("#upload_txt").html(" Uploading…");
			});
		});
	</script>
</body>
</html>